# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Directories
Uploads/
outputs/
progress.txt

# Temporary files
*.log
*.tmp
*.temp

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

Video-format-conversion
Video-format-conversion.exe